<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @mailout.friend_name %>!</h1>
    <p>Check out this sweet ecard, created for you by Mark and John!</p>
    <p><a href="<%= @url %>"><%= @card.name %></a></p>
  </body>
</html>
