<% content_for(:title, "All Cards | Misusing eCards") %>

<h1>Misusing eCards</h1>

<ul>
  <% @cards.each do |card| %>
    <li><%= image_tag card.card_image.url(:thumb) %>
      <br /><a href="/cards/<%= card.slug %>"><%= card.name %></a>
      </li>
  <% end %>
</ul>


<p><a href="/cards/new"><button class='btn btn-danger'>Add a new card</button></a></p>
