<% content_for(:title, "All Cards | Misusing eCards") %>

<h1>Misusing eCards</h1>

<h3>Impress your friends! Charm your loved ones!</h3>

<dl>
  <% @cards.each_with_index do |card, index| %>
    <dt><a href="/cards/<%= card.slug %>"><%= image_tag card.card_image.url(:medium) %></a></dt>
  <% end %>
</dl>


<p><a href="/cards/new"><button class='btn btn-danger'>Add a new card</button></a></p>
