<% content_for(:title, "Home | Misusing eCards") %>

<h1>Misusing eCards</h1>

<h3>Impress your friends! Charm your loved ones!</h3>

<div class="col-md-12">
  <div class="row">
    <% @cards.each do |card| %>
      <div class="col-md-4">
        <div class="row">
          <%= link_to (image_tag(card.card_image.url(:medium), title: card.name)), card_path(card.slug) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <p><a href="/cards/new"><button class='btn btn-danger'>Add a new card</button></a></p>
  </div>

</div>
