<h2>Add a card</h2>
<%= render('layouts/errors', object: @card) %>

<form action="/cards" method="post">
  <%= render('form') %>
  </br>
  <button class='btn btn-success'>Create card</button>
</form>
