<% content_for(:title, "#{@card.name} | Ecards") %>

<h1> <%= @card.name %> </h1>

<%= image_tag @card.card_image.url %>


<a href="/cards"><button class='btn btn-primary'>Return to Main Menu</button></a>
